<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <!-- nav bar -->
    <nav>
      <ul>
        <li id="title" style="float: left"><a href="/">FlickForge.</a></li>
        <li style="float: right"><a href="/search">Search</a></li>
        <li style="float: right"><a href="/topSearches">Top Searches</a></li>
      </ul>
      </ul>
    </nav>

    <!-- main content -->
    <main>
      <h2>Welcome to FlickForge!</h2>
      <p>
        FlickForge is a movie search engine that allows you to search for movies
        and view information about them.
      </p>
      <p>
        Since the site's launch, there have been <%= total %> searches!
      </p>
      <form action="/search" method="get">
        <button type="submit">Search</button>
      </form>

      <!-- button for top searches -->
      <form action="/topSearches" method="get">
        <button type="submit">Top Searches</button>
      </form>
    </main>
    <footer>
      <p>Created 2024, by Ben Talesnik & Billy Gold</p>
    </footer>
  </body>
</html>
