<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li id="title" style="float: left"><a href="/">FlickForge.</a></li>
        <li style="float: right"><a href="/search">Search</a></li>
        <li style="float: right"><a href="/topSearches">Top Searches</a></li>
      </ul>
      </ul>
    </nav>

    <main>
      <h2>Results</h2>
    </main>
  </body>
</html>
