<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FlickForge. | Search</title>
    <link rel="stylesheet" href="/searchStyle.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li id="title" style="float: left"><a href="/">FlickForge.</a></li>
        <li style="float: right"><a href="/search">Search</a></li>
        <li style="float: right"><a href="/topSearches">Top Searches</a></li>
      </ul>
    </nav>

    <main>
      <h3>Search</h3>
      <form>
        <input
          type="text"
          id="query"
          name="query"
          onkeydown="if (event.key === 'Enter') { event.preventDefault(); getSearchResults(); }"
        />
        <br />
        <button type="button" onclick="getSearchResults()">Submit</button>
        <button type="reset">Reset</button>
      </form>
      <h3 id="results-title">Results</h3>
      <div id="master-box"></div>
    </main>
    <footer>
      <p>Created 2024, by Ben Talesnik & Billy Gold</p>
    </footer>

    <script>
      // Function to get search results from the server.
      async function getSearchResults() {
        const query = document.getElementById("query").value;
        const response = await fetch(`/searchQuery?title=${query}`);
        const data = await response.json();
        const results = document.getElementById("master-box");
        results.innerHTML = "";

        const resultsTitle = document.getElementById("results-title");
        resultsTitle.textContent = `Results for "${query}"`;
        resultsTitle.style.textTransform = "capitalize";
        resultsTitle.style.display = "block";

        // If there are results, display them.
        data.Search.forEach((movie) => {
          // Create a div for each movie.
          const movieDiv = document.createElement("div");

          const img = document.createElement("img");
          img.src = movie.Poster;
          img.alt = movie.Title;
          img.style.width = "100px";
          img.style.height = "150px";
          movieDiv.appendChild(img);

          const title = document.createElement("h4");
          title.textContent = movie.Title;
          movieDiv.appendChild(title);

          const br = document.createElement("br");
          movieDiv.appendChild(br);

          const br2 = document.createElement("br");
          movieDiv.appendChild(br2);

          const year = document.createElement("p");
          year.textContent = movie.Year;
          movieDiv.appendChild(year);

          const type = document.createElement("p");
          type.textContent = movie.Type;
          movieDiv.appendChild(type);

          movieDiv.id = movie.imdbID;
          results.appendChild(movieDiv);

          const button = document.createElement("button");
          button.textContent = "See More";
          button.className = "see-more";
          button.onclick = () => {
            window.location.href = `/movie/${movie.imdbID}`;
          };
          movieDiv.appendChild(button);
        });

        // If there are no results, display a message.
        if (data.Search.length === 0) {
          // Fills the left box so the message is in the middle.
          const filler = document.createElement("p");
          results.appendChild(noResults);

          const noResults = document.createElement("p");
          noResults.textContent = "No results found.";
          results.appendChild(noResults);
        }
      }
    </script>
  </body>
</html>
