@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  font-family: "Inter", sans-serif;
}

nav {
  background-color: #f8f9fa;
  margin: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
}

li {
  display: inline;
  margin-right: 1rem;
}

a:hover {
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

#title {
  font-size: 1.5rem;
  font-weight: 1000;
}

main {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100%;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f9fa;
  padding: 1rem;
  z-index: 999;
}

#top-table {
  max-height: 80vh;
  overflow-y: auto;
  /* put in center of screen */
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  max-width: 800px;
  /* width: 100%; */
}

img {
  max-width: 150px;
  height: auto;
}

th {
  background-color: #f8f9fa;
  font-weight: 600;
  text-align: center;
}

th,
td {
  padding: 0.75rem;
  border-bottom: 1px solid #f8f9fa;
}

tr {
  transition: background-color 0.3s ease;
}

tr:hover {
  background-color: #f8f9fa;
}

button {
  font-size: 1.25rem;
  margin: 0.5rem;
  background-color: #ff6b6b;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff4d4d;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 107, 107, 0.4);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 1rem;
  font-size: small;
}
